<?php

error_reporting(E_ALL);
ini_set('display_errors', '1');

$settings = [
    'api' => [
        'path' => '/stockapp'
    ],

    'views' => [
        'path' => __DIR__ . '/../views/'
    ],
    
    'database' => [
        'driver' => 'mysql',
        'host' => '127.0.0.1',
        'port' => '3306',
        'database' => 'stockapp',
        'username' => 'root',
        'password' => ''
    ]
];

return $settings;